:root
{    
    -webkit-text-size-adjust: none;
            text-size-adjust: none;
}
* { box-sizing: border-box;}
body
{
    background-color: rgb(167, 217, 97);
    letter-spacing: 0.2px;
    margin: 0;
}
.margin
{
    width: 720px;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-size: 30px;  
    display: flow-root; 
    max-width: 1200px; 
    min-height: 100vh; 
    margin: 0 auto; 
}
ul li
{
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}
ul 
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
li 
{
  float: left;
}
li a 
{
    display: block;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #8ad05f;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover 
{
    text-shadow: 1px 1px 1px #000000;
    color: #8ad05f;
}
.pge-wrapper
{
    background-color: rgb(57, 55, 55);
    display: flow-root; 
    max-width: 1200px; 
    min-height: 100vh; 
    margin: 0 auto; 
}
header
{
    position: fixed;
    top: 0; left: 0; 
    width: 100%;
}
.inn-wrapper
{
    display: flow-root;
    background-color: rgb(167, 217, 97);
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}
h1
{
    padding-top: 29px;
    color: rgb(8, 37, 2);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 51px;
    margin: 0
}

/* .img-gallery
{
    width: 109%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;    
}
.img-wrapper
{
    margin: 0;
    padding: 5px;
}
.img-wrapper img
{
    width: 100%;
    display: block;
    box-shadow: 1px 1px 2px rbg(218, 218, 218);
}  */