body
{
    background-image: url(../images/BG/CLOUD.BG.2.png);
    background-size: cover;
}
.pge-wrapper
{
    padding: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.side-margin
{
    position: relative;
    width: 25%;
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
}
.side-margin img
{
    position: relative;
    width: 100%;
}
nav
{
    position: relative;
    width: 100%;
}
nav ul
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: -41px;
} 
nav .list-element
{
    width: 75%;
    background-color: white;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex: 0 1 auto;
}
nav li
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    list-style-type: none;
    font-size: 45px;
    flex: 0 1 auto;
}


.page-content 
{
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    width: 74%;
    flex: 0 1 74%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-content h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 0;
}
.img-wrapper
{
    background-color: red;
    position: sticky;
    width: 95%;
    height: 77%;
    margin-top: -22px;
}




@media (min-width: 1235px)
{
    nav li { font-size: 45px;}
}
@media (max-width: 1295px)
{
    nav li { font-size: 35px;}
}
@media (max-width: 1112px)
{
    nav li { font-size: 30px;}
}
@media (max-width: 922px)
{
    nav li { font-size: 20px;}
}
@media (max-width: 640px)
{
    nav li { font-size: 15px;}
}
@media (max-width: 560px)
{
    .pge-wrapper {width: 100%;}   
    .side-margin
    {
        position: relative;
        width: 100vw;
        flex: 0 0 100%;
        padding-top: 0;
    }
    .side-margin img
    {
        position: relative;
        width: 30%;
    }
    nav
    {
        max-width: 63%;
        max-height: 66%;
        flex: 0 1 50%;
        margin: -60px 0px 0px 130px;
        position: sticky;
        overflow-x: scroll;
        overflow-y: hidden;;
        scrollbar-width: none;
    }
    nav ul
    {
        width: 245%;
        height: 70px;
        display: flex;
        gap: 10px;
        margin-left: -25px;
        margin-top: 0;
        flex-direction: row;
    } 
    nav .list-element
    {
        width: 25%;
        background-color: white;
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    nav li { font-size: 18px; display: inline-block; }
   
    .page-content 
    {
        background-color: rgb(255, 255, 255);
        border: 3px solid black;
        width: 100%;
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page-content h1
    {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
        text-align: center;
        margin-top: 0;
    }
    .img-wrapper
    {
        background-color: red;
        position: sticky;
        width: 95%;
        height: 77%;
        margin-top: -22px;
    }
}
